#da-page-content {
  padding: 10px;
}
@media (min-width: 900px) {
  #da-page-content {
    padding: 20px;
  }
}
#da-navbar {
  width: 100%;
  background-color: var(--color-main);
  padding: 15px;
  display: flex;
  align-items: center;
}
.da-user-widget {
  padding-left: 15px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.da-user-widget_message {
  margin-right: 30px;
}
.da-user-widget .da-icon {
  margin-left: -5px;
  margin-right: 10px;
}

.da-login-header,
.da-login-content {
  margin-bottom: 100px;
}
.da-login-header header {
  margin-top: 60px;
  margin-bottom: 30px;
}
.da-login-intro-block {
  margin-top: 60px;
}
.da-login-text-block {
  padding: 60px 0;
}
.da-login-form-block {
  background-color: #fff;
  border-radius: 15px;
  padding: 60px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.da-login-form-header {
  margin-bottom: 40px;
}
.da-submit-button-wrapper {
  display: flex;
}
.da-home-page-header {
  margin-bottom: 40px;
}
.da-space-link {
  display: inline-flex;
  padding: 15px;
  background-color: #eee;
  border-radius: 5px;
}
.da-space-section {
  margin-bottom: 40px;
}
.da-space-section--header {
  margin-top: 60px;
  margin-bottom: 40px;
}
.da-section {
  padding-top: 15px;
}
.da-section--header {
  margin-bottom: 30px;
}
.da-section--header-content {
  display: flex;
}
.da-section--title {
  margin-bottom: 10px;
  flex-grow: 1;
}
.da-section--header-button-container {
  text-align: left;
  flex-shrink: 0;
  flex-grow: 0;
}
.da-section--header-button-container .da-icon {
  margin-left: -5px;
  margin-right: 10px;
}
@media (min-width: 600px) {
  .da-section--title {
    margin-bottom: 0px;
  }
  .da-section--header-button-container {
    text-align: right;
  }
}

.da-color-valid {
  color: var(--color-valid);
}
.da-color-warning {
  color: var(--color-warning);
}
.da-color-error {
  color: var(--color-error);
}

.da-icon svg {
  width: 1em;
  height: 1em;
}

.da-discret {
  opacity: 0.65;
}

@media (min-width: 900px) {
  .da-hash {
    position: relative;
  }
  .da-hash:before {
    content: '#';
    opacity: 0;
    position: absolute;
    left: -0.75em;
  }
  .da-hash:hover {
    opacity: 1 !important;
  }
  .da-hash:hover:before {
    opacity: 0.3;
  }
}

.da-grid-item {
  overflow-wrap: break-word;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 3;
}

.da-grid-item:hover .da-link-onhover {
  text-decoration: underline;
}
.da-grid-item_link {
  display: block;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.da-grid-item_link:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.da-grid-figure {
  position: relative;
  padding-top: 80%;
}
.da-grid-figure > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.da-grid-figure:after {
  content: '';
  background: rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.da-grid-icon {
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.02);
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5%;
}

.da-grid-icon .da-grid-icon__container {
  width: 100%;
  max-width: 80px;
}

.da-grid-icon .da-grid-icon__container .da-file-icon__wrapper {
  width: 100%;
  padding-top: 150%;
  position: relative;
}
.da-grid-icon .da-grid-icon__container .da-file-icon__wrapper > .da-file-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.da-file-icon__wrapper {
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
}
.da-file-icon {
  clip-path: polygon(0px 0px, 65% 0%, 100% 25%, 100% 100%, 0px 100%);
  font-family: var(--font-sans);

  position: relative;
  width: 80px;
  height: 120px;

  background: #eee;
  border-radius: 2px;
}
.da-file-icon::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 65%;
  bottom: 75%;
  border-bottom-left-radius: 2px;
  background: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.da-file-icon::after {
  display: block;
  content: attr(data-type);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  opacity: 0.6;
}
