label {
  display: block;
  opacity: 0.65;
  margin-bottom: 0.5em;
}

button,
input,
select {
  font: inherit;
}

input[type='color'],
input[type='email'],
input[type='password'],
input[type='text'],
input[type='url'] {
  appearance: none !important;
  color: inherit;
  background-color: var(--color-gray-medium);
  outline: none;
  border: 2px solid transparent;
  padding: 12px;
  border-radius: 5px;
}

input[type='color']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus,
input[type='url']:focus {
  background: #fff;
  border-color: #95b1df;
}

input[type='color'].da-color-error,
input[type='email'].da-color-error,
input[type='password'].da-color-error,
input[type='text'].da-color-error,
input[type='url'].da-color-error {
  border: 1px solid #e53e3e;
}

.da-button,
button,
input[type='button'],
input[type='submit'] {
  outline: none;
  border: 2px solid transparent;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #66b5ff;
  color: #194167;
  display: flex;
}

.da-button.da-button--medium,
button.da-button--medium,
input[type='button'].da-button--medium,
input[type='submit'].da-button--medium {
  padding: 8px 16px;
}

.da-button:hover,
button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  background-color: #4da9ff;
}

.da-button:focus,
button:focus,
input[type='button']:focus,
input[type='submit']:focus {
  border-color: #0084ff;
}

.da-button.da-button--luminous {
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.da-button.da-button--luminous:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
}

.da-button.da-button--luminous:focus {
  border-color: #eddede;
}

.da-button.da-button--transparent {
  color: #2d3748;
  background-color: rgba(139, 155, 182, 0.4);
}

.da-button.da-button--transparent:hover {
  opacity: 1 !important;
  background-color: rgba(123, 141, 173, 0.4);
}

.da-button.da-button--transparent:focus {
  border-color: rgba(71, 118, 199, 0.4);
}

.da-button.da-color-valid {
  color: #17422b;
  background-color: #40ff99;
}

.da-button.da-color-valid:hover {
  background-color: #27ff8c;
}

.da-button.da-color-valid:focus {
  border-color: #00d965;
}

.da-button.da-color-error {
  color: #901313;
  background-color: #ff8a8a;
}

.da-button.da-color-error:hover {
  background-color: #ff7171;
}

.da-button.da-color-error:focus {
  border-color: #ff2424;
}

select {
  appearance: none !important;
  color: inherit;
  padding: 12px 42px 12px 12px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #aab6ca;
  outline: none;
  background: url(images/angle-bottom.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  box-shadow: inset 0 0 0 200px hsla(0, 0%, 100%, 0.5);
}

select:focus {
  padding: 11px 41px 11px 11px;
  border-width: 2px;
  border-color: #95b1df;
}

select.da-color-error {
  border-color: #e53e3e;
}
