body {
  color: var(--color-main);
}

.da-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 480px) {
  .da-container {
    max-width: 480px;
  }
}
@media (min-width: 640px) {
  .da-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .da-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .da-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .da-container {
    max-width: 1280px;
  }
}

.da-row--xxs:not(:last-child):not(:empty) {
  margin-bottom: 3px;
}
.da-row--xs:not(:last-child):not(:empty) {
  margin-bottom: 5px;
}
.da-row--sm:not(:last-child):not(:empty) {
  margin-bottom: 10px;
}
.da-row:not(:last-child):not(:empty) {
  margin-bottom: 15px;
}
.da-row--ext:not(:last-child):not(:empty) {
  margin-bottom: 20px;
}
.da-row--md:not(:last-child):not(:empty) {
  margin-bottom: 30px;
}
.da-row--md-ext:not(:last-child):not(:empty) {
  margin-bottom: 35px;
}
.da-row--lg:not(:last-child):not(:empty) {
  margin-bottom: 40px;
}
.da-row--xl:not(:last-child):not(:empty) {
  margin-bottom: 60px;
}
.da-block {
  margin-bottom: 15px;
}
.da-block--lg {
  margin-bottom: 40px;
}
.da-block--xl {
  margin-bottom: 60px;
}
.da-block--xxl {
  margin-bottom: 100px;
}

.da-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
.da-col {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

.da-columns.da-columns--large {
  margin-left: -30px;
  margin-top: -30px;
}
.da-columns.da-columns--large .da-col {
  padding-left: 30px;
  padding-top: 30px;
}

.da-col-12 {
  flex-basis: 100%;
}
.da-col-6 {
  flex-basis: 50%;
}
.da-col-4 {
  flex-basis: 33.333333%;
}
.da-col-3 {
  flex-basis: 25%;
}
.da-col-2 {
  flex-basis: 16.6666666%;
}

@media (min-width: 600px) {
  .da-col-12--sm {
    flex-basis: 100%;
  }
  .da-col-6--sm {
    flex-basis: 50%;
  }
  .da-col-4--sm {
    flex-basis: 33.333333%;
  }
  .da-col-3--sm {
    flex-basis: 25%;
  }
  .da-col-2--sm {
    flex-basis: 16.6666666%;
  }
}
@media (min-width: 900px) {
  .da-col-12--md {
    flex-basis: 100%;
  }
  .da-col-6--md {
    flex-basis: 50%;
  }
  .da-col-4--md {
    flex-basis: 33.333333%;
  }
  .da-col-3--md {
    flex-basis: 25%;
  }
  .da-col-2--md {
    flex-basis: 16.6666666%;
  }
}
@media (min-width: 1024px) {
  .da-col-12--lg {
    flex-basis: 100%;
  }
  .da-col-6--lg {
    flex-basis: 50%;
  }
  .da-col-4--lg {
    flex-basis: 33.333333%;
  }
  .da-col-3--lg {
    flex-basis: 25%;
  }
  .da-col-2--lg {
    flex-basis: 16.6666666%;
  }
}
.da-full {
  width: 100%;
}
