.da-font-serif {
  font-family: var(--font-serif);
  line-height: 1.35em;
  text-transform: initial;
}
.da-font-sans {
  font-family: var(--font-sans);
  line-height: 1.35em;
  text-transform: initial;
}
.da-font-mono {
  font-family: var(--font-mono);
  line-height: 1.3em;
  text-transform: initial;
}
h1,
h2,
h3,
h4,
.da-title-font {
  font-family: var(--font-sans);
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' on, 'liga' on;
  line-height: 1.1em;
}
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 700;
}

h1,
.da-title--lg {
  font-size: 3.6rem;
}
h2,
.da-title--md {
  font-size: 2.8rem;
}
h3,
.da-title--sm {
  font-size: 2.2rem;
}
h4,
.da-title--xs {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.7rem;
}
h6 {
  font-size: 1.6rem;
}

.da-text {
  line-height: 1.4em;
  overflow-wrap: break-word;
  hyphens: auto;
  hyphenate-limit-chars: 10 4 3;
}
.da-text h1,
.da-text h2,
.da-text h3,
.da-text h4,
.da-text h5,
.da-text h6 {
  margin-bottom: 1em;
}
.da-text p:not(:last-child) {
  margin-bottom: 40px;
}
.da-text figure:not(:last-child) {
  margin-bottom: 30px;
}
.da-text ul,
.da-text ol {
  margin-bottom: 40px;
  margin-left: 20px;
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.da-text ul {
  list-style: disc;
}
.da-text ol {
  list-style: decimal;
}

.da-text--xl {
  font-size: 20px;
  line-height: 1.4em;
}
.da-text--lg {
  font-size: 18px;
  line-height: 1.4em;
}
.da-text--sm {
  font-size: 14px;
  line-height: 1.3em;
}
.da-text--sm.da-font-mono {
  font-size: 13px;
  line-height: 1.2em;
}
.da-text--xs {
  font-size: 12px;
  line-height: 1.3em;
}
.da-text--xs.da-font-mono {
  font-size: 11px;
  line-height: 1.2em;
}
strong,
.da-bold {
  font-weight: 700;
}
.da-normal {
  font-weight: normal;
}
em,
.da-italic {
  font-style: italic;
}
.da-regular {
  font-style: normal;
}
.da-text--gray {
  color: var(--color-gray-dark);
}

a.da-unstyled {
  text-decoration: none !important;
  color: inherit;
}
a.da-unstyled:hover,
a.da-unstyled:visited,
a.da-unstyled:active {
  color: inherit;
}
a.da-unstyled:hover:not(.da-no-hover) {
  opacity: 0.75;
}
.da-link,
.da-link:visited {
  color: inherit;
  text-decoration: underline;
}
.da-link:hover,
.da-link:visited:hover {
  opacity: 0.75;
}

a.da-link-active {
  text-decoration: underline;
}
.da-link-onhover:hover {
  text-decoration: underline;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.da-hyphenated {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
