/* VARIABLES */

:root {
  /* Colors */
  --color-main: #333333;
  --color-regular: #3182ce;
  --color-valid: #38a169;
  --color-warning: #dd6b20;
  --color-error: #e53e3e;
  --color-gray-light: #edf1f8;
  --color-gray-medium: #eee;
  --color-gray-dark: #999;

  /* Fonts */
  --font-sans: 'arial', sans-serif;
  --font-serif: 'georgia', serif;
  --font-mono: 'inconsolata', monospace;
}

--color-main: #2d3748;
--color-regular: #3182ce;
--color-valid: #38a169;
--color-warning: #dd6b20;
--color-error: #e53e3e;
--color-gray-light: #edf1f8;
--color-gray-medium: #eee;
--color-gray-dark: #999;
--font-sans: 'arial', sans-serif;
--font-serif: 'georgia', serif;
--font-mono: 'inconsolata', monospace;
